* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 30px;
    font-family: monospace;
}

.addBtn {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.2s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.addBtn:hover {
    background-color: white;
    color: #4CAF50;
}

.disabledBtn {
    opacity: 0.6;
    cursor: auto;
}


.listSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listTopSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.list {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

.list td, .list th {
    border: 1px solid #ddd;
    padding: 8px;
}

.list tr:nth-child(even){background-color: #2662a10f;}

.list tr:hover {background-color: #0a44668c; color: #ffffff}

.list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #144f8b;
    color: white;
}


.diagramsSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.pieDiagramSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35% !important;
}


.pieDiagram {
    width: 100%;
    border-radius: 50%;
    box-shadow:  0 0 10px 5px #144f8b;
}

.lineDiagramSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.lineDiagram {
    width: 100%;
}

.diagramTitle {
    color: #144f8b;
    border-bottom: 2px solid rgba(20, 79, 139, 0.55);
    margin-bottom: 30px;
}



.popUpShadow {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(121, 121, 125, 0.34);
    transition: top 0.4s, opacity 0.4s;
}

.popUp {
    width: 375px;
    background-color: #144f8b;
    padding: 40px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: show;
    animation-duration: 0.2s;
    transition: top 0.4s, opacity 0.4s;
    position: relative;
}

.hidePopUp {
    transition: 2s;
    animation: hide;
    animation-duration: 0.2s;
}

.xBtn {
   position: absolute;
    top: 10px;
    right: 10px;
    background-color: #144f8b;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    z-index: 99;
    cursor: pointer;
}

.popUpTitle {
    color: #FFFFFF;
    margin-bottom: 25px;
}

.addForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}
.addForm input {
    padding: 10px 20px;
    margin-bottom: 12px;
    width: 100%;
    border-radius: 5px;
    border: none;

}

.addForm input:focus {
    outline: none;
}




@media screen and (max-width: 1200px) {
    body {
        padding: 30px;
    }
    .list, .listTopSection {
        width: 70%;
    }

    .pieDiagramSection {
        width: 40% !important;
    }

    .lineDiagramSection {
        width: 50%;

    }
    .lineDiagramSection > div > svg {
        transform: scale(0.8);
    }

}

@media screen and (max-width: 1024px) {
    .diagramsSection {
        flex-direction: column;
        align-items: normal;
    }
    .pieDiagramSection {
        width: 40% !important;
        align-items: flex-start;
    }
    .lineDiagramSection {
        width: 100%;
        align-items: flex-end;
    }


}

@media screen and (max-width: 768px) {
    body {
        padding: 15px;
    }
    .list, .listTopSection {
        width: 90%;
    }

    .pieDiagramSection {
        width: 50% !important;
    }

}

@media screen and (max-width: 680px) {
    body {
        padding: 10px;
    }
    .list, .listTopSection {
        width: 100%;
    }
    .diagramsSection {
        flex-direction: column-reverse;
        align-items: normal;
    }

    .pieDiagramSection {
        width: 100% !important;
        align-items: center;
    }
    .pieDiagramSection > svg {
        width: 50% !important;
    }

    .lineDiagramSection {
        align-items: center;
        overflow: hidden;
    }

    .diagramTitle {
        display: none;
    }

}

@media screen and (max-width: 591px) {
    .pieDiagramSection > svg {
        width: 70% !important;
    }

    .lineDiagramSection {
        display: none;
    }

}



@keyframes show {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}

@keyframes hide {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
    99% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 0;
        box-shadow: 0 0 0 0;
    }

}




